<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.system.tool.SerialNumberDao">
	
	<select id="getSerialNumber" resultType="serialNumber">
		  select  bussiness_key as bussinessKey,
		  		  date_code as dateCode,
		  		  serial_number as serialNumber
		  from jy_sys_serial_number
		  where bussiness_key = #{0} and type=#{1}
	</select>
	
	<insert id="insertSerialNumber" parameterType="serialNumber">
		insert into jy_sys_serial_number
		  (bussiness_key,
		   date_code,
		   serial_number,
		   type)
		values
		  (#{bussinessKey,jdbcType=VARCHAR}, 
		  #{dateCode,jdbcType=VARCHAR}, 
		  #{serialNumber,jdbcType=NUMERIC},
		  #{type,jdbcType=VARCHAR})
	</insert>
	
	<update id="increaseSerialNumber" parameterType="String">
		update jy_sys_serial_number set serial_number = serial_number + 1 where bussiness_key = #{0} and type=#{1}
	</update>
	
	<update id="resetSerilNumberByDay" parameterType="String">
		update jy_sys_serial_number set date_code=to_char(sysdate,'yyyyMMdd'),serial_number=1 where bussiness_key=#{0} and type=#{1}
	</update>
	
</mapper>