<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.crm.members.PointsMonthlyDao">
	<resultMap id="base" type="pointsMonthly"></resultMap>
	
	<select id="findMouth" resultMap="base" parameterType="String">
		 select * FROM JY_CRM_POINTS_MONTHLY  where  to_CHAR(TO_DATE(#{balanceDate,jdbcType=VARCHAR},'YYYY-MM-DD'),'MM') in ((select to_CHAR(BALANCEDATE,'MM') as mouth FROM JY_CRM_POINTS_MONTHLY)) and membertid=#{membertId,jdbcType=VARCHAR}
		  order by  balancedate desc
	</select>

	 <insert id="insert"  parameterType="pointsMonthly">	
		insert into JY_CRM_POINTS_MONTHLY(id,membertid,getnum,costnum,surplusnum,orgid,balancedate,note,clearing)
		  values
		  (#{id,jdbcType=VARCHAR},
		   #{membertId,jdbcType=VARCHAR},
		   #{getNum,jdbcType=NUMERIC},
		   #{costNum,jdbcType=NUMERIC},
		   #{surplusNum,jdbcType=NUMERIC},
		   #{orgId,jdbcType=VARCHAR},
		   sysdate,
		   #{note,jdbcType=VARCHAR},
		   #{clearing,jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="pointsMonthly">
		update JY_CRM_POINTS_MONTHLY set getNum=#{getNum,jdbcType=VARCHAR},costNum=#{costNum,jdbcType=VARCHAR},surplusNum=#{surplusNum,jdbcType=VARCHAR},
		note=#{note,jdbcType=VARCHAR} where id=#{id,jdbcType=VARCHAR}
	</update>
	
	<select id="findMonthly" resultMap="base" parameterType="String">
		select * FROM JY_CRM_POINTS_MONTHLY t  where  t.membertid=#{membertId,jdbcType=VARCHAR}  order by  t.balancedate
	</select>
	
</mapper>