<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.dao.scm.credential.CredentialDao">
	<resultMap id="credential" type="baseCredential"></resultMap>

	<select id="find" resultMap="credential" parameterType="baseCredential">
		select jsc.id as id ,
		jsc.productid as productid,
		jsc.accessorieId as accessorieId,
		jsc.orgid as orgid,
		jsc.status as status,
		jsc.cerno as cerno,
		jsc.cerdate as cerdate,
		jsc.cername as cername,
		jsc.cerofficeid as cerofficeid,
		jsc.cerofficename as cerofficename,(select att.path from JY_SYS_ATTACHMENT att where
		att.busnessid=jsc.id) as filePath
		from JY_SCM_IMS_CREDENTIAL jsc
		where 1=1
		<if test="cerName != null and cerName !='' ">
			and jsc.cername=#{cerName}
		</if>
		<if test="id != null and id !='' ">
			and jsc.id=#{id}
		</if>
	</select>

	<select id="findById" resultMap="credential" parameterType="baseCredential">
		select jsc.id as id ,
		jsc.productid as productid,
		jsc.accessorieId as accessorieId,
		jsc.orgid as orgid,
		jsc.status as status,
		jsc.cerno as cerno,
		jsc.cerdate as cerdate,
		jsc.cername as cername,
		jsc.cerofficeid as cerofficeid,
		jsc.cerofficename as cerofficename,(select att.path from JY_SYS_ATTACHMENT att where
		att.busnessid=jsc.id) as filePath
		from JY_SCM_IMS_CREDENTIAL jsc
		where 1=1
		<if test='productId!=null and productId!=""'>
			AND jsc.productid=#{productId}
		</if>
		<if test='accessorieId!=null and accessorieId!=""'>
			AND jsc.accessorieId=#{accessorieId}
		</if>
		<if test='accessorieId==null or accessorieId==""'>
			AND jsc.accessorieId is null
		</if>
		
	</select>
	<select id="count" resultType="int" parameterType="baseCredential">
		SELECT
		count(*) FROM JY_SCM_IMS_CREDENTIAL jsc WHERE jsc.id=#{id}
	</select>

	<insert id="insert" parameterType="baseCredential">	
 	<![CDATA[
		insert into JY_SCM_IMS_CREDENTIAL(id,PRODUCTID,accessorieId,ORGID,STATUS,CERNO,CERDATE,CERNAME,CEROFFICEID,CEROFFICENAME,CREATETIME,CREATEUSER)
		values(#{id},#{productId},#{accessorieId},#{orgId},#{status},#{cerNo},to_date(#{cerDate},'yyyy/mm/dd'),#{cerName},#{cerofficeId},#{cerofficeName},#{createTime},#{createUser})
	]]>
	</insert>
	<delete id="delete" parameterType="baseCredential">
		UPDATE JY_SCM_IMS_CREDENTIAL
		SET STATUS=#{status} WHERE id=#{id}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		UPDATE JY_SCM_IMS_CREDENTIAL SET STATUS=#{status} WHERE id in(
		<foreach item="d" collection="list" open="" separator=","
			close="">
			#{id}
		</foreach>
		)
	</delete>
	<update id="update" parameterType="baseCredential">
		update JY_SCM_IMS_CREDENTIAL
		set productid=#{productId},
		status=#{status},
		cerno=#{cerNo},
		cername=#{cerName},
		cerofficeid=#{cerofficeId},
		cerofficename=#{cerofficeName},
		cerdate=to_date(#{cerDate},'yyyy/mm/dd'),
		orgid=#{orgId}
		WHERE id=#{id}
	</update>
	<select id="getCredentialByStatus" resultMap="credential"
		parameterType="baseCredential">
		select status from JY_SCM_IMS_CREDENTIAL where id=#{id}
	</select>

	<resultMap id="productByInfo" type="credentialByInfo"></resultMap>

	<select id="credentialByInfoList" resultMap="productByInfo"
		parameterType="credentialByInfo">
		SELECT JSIP.ID AS ID,
		       '' AS ACCID,
		       JSIP.NAME AS NAME,
		       JSIC.CERNAME AS CERNAME,
		       1 AS FLAG
		  FROM JY_SCM_IMS_PRODUCT JSIP
		  left join jy_scm_ims_credential JSIC
		    ON JSIP.ID = JSIC.PRODUCTID
		 WHERE JSIC.Accessorieid is null
		   and JSIP.ID = #{id}
		UNION ALL
		SELECT JSIA.PRODUCTID AS ID,
		       JSIA.ID AS ACCID,
		       JSIA.STONENAME AS NAME,
		       decode(JSIC.ACCESSORIEID, NULL, '', JSIC.CERNAME) AS CERNAME,
		       0 AS FLAG
		  FROM JY_SCM_IMS_ACCESSORIES JSIA
		  left join jy_scm_ims_credential JSIC
		    ON JSIA.ID = JSIC.ACCESSORIEID
		 WHERE JSIA.PRODUCTID = #{id}

	</select>

	<!-- 查询单个辅件信息 -->
	<select id="findAccessories" resultType="baseAccessories"
		parameterType="String">
		select * from JY_SCM_IMS_ACCESSORIES jsa where 1=1 and
		jsa.id=#{accId}
	</select>
	<select id="getcredentialUpload" resultType="CradentialTemp">
		select * from JY_SCM_IMS_CERTIFICATEUPLOAD where batchid=#{batchid}
	</select>
	
	<insert id="batchcredentialUpload" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			insert into jy_scm_ims_certificateupload
			(detectionid,batchid,certificatetype,gemname,ornamenttype,form,label,weight,quality,remarks,color,neatness,width,depth,code,money)
			values(#{item.detectionid,jdbcType=VARCHAR},#{item.batchid,jdbcType=VARCHAR},#{item.certificatetype,jdbcType=VARCHAR},#{item.gemname,jdbcType=VARCHAR},#{item.ornamenttype,jdbcType=VARCHAR},#{item.form,jdbcType=VARCHAR},#{item.label,jdbcType=VARCHAR},#{item.weight,jdbcType=NUMERIC},#{item.quality,jdbcType=NUMERIC},#{item.remarks,jdbcType=VARCHAR},#{item.color,jdbcType=VARCHAR},#{item.neatness,jdbcType=VARCHAR},#{item.width,jdbcType=VARCHAR},#{item.depth,jdbcType=VARCHAR},#{item.code,jdbcType=VARCHAR},#{item.money,jdbcType=NUMERIC})
		</foreach>
	</insert>
	
	<delete id="deletecredentialUpload">
		delete from jy_scm_ims_certificateupload where batchid=#{batchid}
	</delete>
	<insert id="batchInsert" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
			insert into JY_SCM_IMS_CREDENTIAL(id,PRODUCTID,accessorieId,ORGID,STATUS,CERNO,CERNAME,CEROFFICEID,CEROFFICENAME,CREATETIME,CREATEUSER)
			values(#{item.id,jdbcType=VARCHAR},#{item.productId,jdbcType=VARCHAR},#{item.accessorieId,jdbcType=VARCHAR},#{item.orgId,jdbcType=VARCHAR},#{item.status,jdbcType=VARCHAR},#{item.cerNo,jdbcType=VARCHAR},#{item.cerName,jdbcType=VARCHAR},#{item.cerofficeId,jdbcType=VARCHAR},#{item.cerofficeName,jdbcType=VARCHAR},sysdate,#{item.createUser,jdbcType=VARCHAR})
		</foreach>
	</insert>
</mapper>